In [2]:
# Import dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Load the charity_data.csv
url = "https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv"
application_df = pd.read_csv(url)
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN'], axis =1)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_df['APPLICATION_TYPE'].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [10]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts_gt_1 = class_counts[class_counts >1]
class_counts_gt_1.head()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [12]:
# Look at NAME value counts for binning
name_counts = application_df['NAME'].value_counts()
name_counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [13]:
# Choose a cutoff value and create a list of names to be replaced
names_to_replace = list(name_counts[name_counts < 100].index)

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(
        name, "Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                 25987
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
HONOR SOCIETY OF PHI KAPPA PHI                                          107
MONTANA 4-H FOUNDATION INC                                              107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
Name: NAME, dtype: int64

In [14]:
# Convert categorical data to numeric with `pd.get_dummies`
app_numeric = pd.get_dummies(application_df)
app_numeric.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,NAME_HABITAT FOR HUMANITY INTERNATIONAL INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [16]:
# Split preprocessed data into features and target arrays
X = app_numeric.drop(['IS_SUCCESSFUL'], axis=1)
y = app_numeric['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [17]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 20

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim= len(X_train.columns), activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation='tanh'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From C:\Users\user\anaconda3\envs\PythonData\lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                6000

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 20)                620

 dense_3 (Dense)             (None, 1)                 21

=================================================================
Total params: 9071 (35.43 KB)
Trainable params: 9071 (35.43 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [19]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

WARNING:tensorflow:From C:\Users\user\anaconda3\envs\PythonData\lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [20]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
WARNING:tensorflow:From C:\Users\user\anaconda3\envs\PythonData\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\user\anaconda3\envs\PythonData\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

804/804 [==============================] - 2s 1ms/step - loss: 0.5119 - accuracy: 0.7434
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4939 - accuracy: 0.7563
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4904 - accuracy: 0.7577
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4879 - accuracy: 0.7585
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4867 - accuracy: 0.7595
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4856 - accuracy: 0.7600
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4848 - accuracy: 0.7603
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4840 - accuracy: 0.7607
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4832 - accuracy: 0.7618
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4825 - accuracy: 0.7618
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4819 - accuracy: 0.7630
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4815 - accuracy: 0.7613
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4811 - accuracy: 0.7635
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4804 - accuracy: 0.7625
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4800 - accuracy: 0.7633
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4802 - accuracy: 0.7621
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4791 - accuracy: 0.7637
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4786 - accuracy: 0.7652
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4787 - accuracy: 0.7641
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4783 - accuracy: 0.7633
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4780 - accuracy: 0.7645
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4772 - accuracy: 0.7652
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4769 - accuracy: 0.7652
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4768 - accuracy: 0.7654
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4773 - accuracy: 0.7654
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4768 - accuracy: 0.7659
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4762 - accuracy: 0.7645
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4761 - accuracy: 0.7651
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4759 - accuracy: 0.7662
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4758 - accuracy: 0.7653
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4758 - accuracy: 0.7661
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4753 - accuracy: 0.7650
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4748 - accuracy: 0.7658
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4749 - accuracy: 0.7671
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4753 - accuracy: 0.7659
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4751 - accuracy: 0.7652
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4741 - accuracy: 0.7668
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4740 - accuracy: 0.7655
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4743 - accuracy: 0.7665
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4738 - accuracy: 0.7675
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4735 - accuracy: 0.7652
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4739 - accuracy: 0.7660
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4733 - accuracy: 0.7665
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4733 - accuracy: 0.7669
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4728 - accuracy: 0.7681
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4732 - accuracy: 0.7671
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4725 - accuracy: 0.7672
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4729 - accuracy: 0.7678
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4725 - accuracy: 0.7670
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4726 - accuracy: 0.7678
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4726 - accuracy: 0.7672
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4720 - accuracy: 0.7679
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4718 - accuracy: 0.7690
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4721 - accuracy: 0.7682
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4721 - accuracy: 0.7673
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4717 - accuracy: 0.7674
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4719 - accuracy: 0.7676
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4715 - accuracy: 0.7678
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4714 - accuracy: 0.7685
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4715 - accuracy: 0.7680
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4718 - accuracy: 0.7676
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4715 - accuracy: 0.7685
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4715 - accuracy: 0.7672
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4712 - accuracy: 0.7669
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4711 - accuracy: 0.7681
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4711 - accuracy: 0.7675
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4713 - accuracy: 0.7682
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4710 - accuracy: 0.7664
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4711 - accuracy: 0.7671
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4716 - accuracy: 0.7678
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4707 - accuracy: 0.7666
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4706 - accuracy: 0.7671
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4713 - accuracy: 0.7685
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4723 - accuracy: 0.7671
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4710 - accuracy: 0.7673
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4702 - accuracy: 0.7689
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4702 - accuracy: 0.7685
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4698 - accuracy: 0.7683
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4704 - accuracy: 0.7690
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4704 - accuracy: 0.7685
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4698 - accuracy: 0.7684
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4700 - accuracy: 0.7688
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4704 - accuracy: 0.7678
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4708 - accuracy: 0.7680
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4705 - accuracy: 0.7675
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4705 - accuracy: 0.7685
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4713 - accuracy: 0.7688
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4702 - accuracy: 0.7689
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4702 - accuracy: 0.7688
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4698 - accuracy: 0.7693
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4702 - accuracy: 0.7684
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4709 - accuracy: 0.7678
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4708 - accuracy: 0.7681
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4704 - accuracy: 0.7682
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4698 - accuracy: 0.7681
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4698 - accuracy: 0.7690
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4696 - accuracy: 0.7690
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4701 - accuracy: 0.7691
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4705 - accuracy: 0.7679
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4702 - accuracy: 0.7689

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5066 - accuracy: 0.7518 - 317ms/epoch - 1ms/step
Loss: 0.5065815448760986, Accuracy: 0.7518367171287537

In [22]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimisation.h5.")

INFO:tensorflow:Assets written to: AlphabetSoupCharity_Optimisation.h5.\assets

INFO:tensorflow:Assets written to: AlphabetSoupCharity_Optimisation.h5.\assets